@model Application.DTOs.PagoDTO

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoBasePorHora)
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.SueldoBasePorHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entregas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entregas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompensacionPorEntrega)
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.CompensacionPorEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BonoPorHora)
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.BonoPorHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeVales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeVales) %
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoBruto)
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.SueldoBruto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImpuestosAplicables)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImpuestosAplicables) %
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoNeto)
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.SueldoNeto)
        </dd>
    </dl>
</div>
